@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
}

html{
	overflow-x: hidden;
}

body{
	display: grid;
	grid-template-columns: 30% 50% ;
	background: #FFF4CC;
	height: 100vh;


}
.leftbar{
	background-color: #FFF4CC;
	display: grid;	
	width: 300px;
	height: 100%;
	box-shadow: rgb(0 0 0 / 20%) 0px 26px 80px -10px;
}

.accordion {
	position: relative;
  border-radius: 25px;
  overflow: hidden;
  font-family: silka medium;

}

.accordion__label{
	padding: 7px 10px;

}

.accordion__content {
  padding: 1px 2px;
}

.accordion__label {
  display: block;
  color: #1D1D1B;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  margin: 20px 10px;
  border-radius: 100px;
}

.accordion__label:hover {
  border: 1.5px solid #1D1D1B;
  
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:black;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  line-height: 1.6;
  font-size: 1em;
  display: none;
}
.content__link{
  border: 1.5px solid #1D1D1B;
  display: block;
  height: 30px;
  cursor: pointer;
  border-radius: 24px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: #1D1D1B;
  margin: 0px 15px;

}
.content__link:hover {
	background-color: #1D1D1B;
	color: whitesmoke;
}
.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;

}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.page__link{
  display: block;
  color:#1D1D1B;
  cursor: pointer;
  position: relative;
  margin: 20px 10px;
  border-radius: 100px;
  padding: 7px 10px;
  text-decoration: none;

}
.page__link:hover {
	border: 1.5px solid #1D1D1B;
}



.rightbar{
	align-content: center;
	box-sizing: border-box;
}

.rightbar_products{
	position:relative;
	display:flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-left: 180px;
}

.container_products{
	background-color: #FFF4CC;
	display: flex;
	justify-content: center;
	align-items: center;
	height:350px;
	width: 480px;
	border-radius: 24px;
	border: 1.5px solid #1D1D1B;
	box-shadow: rgb(0 0 0 / 5%) 0px 26px 80px -10px;
}

.container_products_inside{
	display: block;
}

.container_products_inside button {
	margin-top: 15px;
    border: none;
    padding: 14px 10px;
    background:#F3C30F;
    border-radius: 24px;
    cursor: pointer;
    font-family: "silka medium";
    width: 100%;
}

.container_products_inside button:hover{
    background:#F3C929;
}

.center-text{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	font-size: 12px;
	text-decoration: underline;
}

span{
	font-family: silka medium;
}

.message{
  top: 40%;
  margin: auto;
  position: relative;
  font-size: 24px;
  font-family: Butler;
  color: #1D1D1B;
  line-height: 1.5;

}


.form-box-container{
    width:100%;
    position:relative;
    min-height:100vh;
    display:block;
    justify-content:center;
    align-items:center;
    align-content: center;
    height:100%;

}

.form-box-container-report{
    width:100%;
    position:relative;
    min-height:100vh;
    display:block;
    justify-content:center;
    align-items:center;
    align-content: center;
    height:100%;
}

/*
@font-face {
    font-family: 'silka medium';
    url(./fonts/Silka\ Medium.otf);
}

@font-face {
    font-family: 'butler';
    url(./fonts/Butler_Bold.otf);
}

*/

.form-box{
    width: 700px;
    padding: 40px;
    text-align: center;
    align-content: center;
    margin: auto;
}

.form-box-report{
    width: 700px;
    padding: 40px;
    text-align: center;
    align-content: center;
    margin: auto;
}



.form-title{
    font-family:'butler' !important;
    font-size: 25px;
    font-variant: initial;
    margin-bottom: 100px;
}

.form-title-report{
    font-family:'butler';
    font-size: 25px;
    margin-bottom: 30px; 
}

.form-box input[type = "text"],
.form-box input[type = "password"] {
    border: none;
    background: none;
    display: block;
    margin: 10px auto;
    padding: 14px 10px;
    border: 1.5px solid hsla(0, 0%, 50%, 0.63);
    width: 700px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    font-family: "silka medium" !important;

}

label{
    display: block;
    text-align: left;
    font-family: "silka medium";
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 14px;
    
}

.form-box input[type = "text"]:focus,
.form-box input[type = "password"]:focus{
    width: 700px;
    border-color: #1D1D1B;
}

.form-box button[type = "submit"]{
    border: none;
    padding: 14px 10px;
    background:#F3C30F;
    border-radius: 24px;
    cursor: pointer;
    font-family: "silka medium";
    margin-top: 20px;
    width: 730px;
    margin-bottom: 30px;
}

.form-box-flex{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.form-box-flex button{
    border: none;
    padding: 14px 10px;
    background:#F3C30F;
    border-radius: 24px;
    cursor: pointer;
    font-family: "silka medium";
}

.form-box-flex button:hover{
    background:#F3C929;
    box-shadow: rgb(243 201 41) 0px 0px 5px 0px;
}

.form-box button:hover{
    background:#F3C929;
    box-shadow: rgb(243 201 41) 0px 0px 5px 0px;
}

.ini{
    margin-right: 100px;
}

.list-box-container{
  	display: grid;
  	gap: 50px;
  	grid-template-columns: repeat(2, 1fr);
    width:100%;
    height:100%;
    position:relative;
    justify-content:center;
    align-items:center;
    align-content: center;
}

.list-box{
	display: flex;
	height: 220px;
	border: 1.5px solid #1D1D1B;
	border-radius: 10px;
	justify-content: left;
	align-items:center;
}

.list-get-text span{
	display: block;
	text-align:left;
	margin-bottom: 5px;
	font-family: butler;
}

.list-get-text{
	font-size: 12px;
	margin-left: 30px;
}


.dinamyc-text{
	font-size: 12px;
	font-family: silka medium;
}




a{   
    display: inline-block;
    text-decoration: none;
    color: #1D1D1B;
    font-family: "silka medium";
    font-size: 14px;
}
